<?xml version="1.0"?>
<ruleset name="Active Plugin Locator">
  <description>PHPCS rules for Active Plugin Locator.</description>

  <file>active-plugin-locator.php</file>
  <file>includes</file>

  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>node_modules/*</exclude-pattern>

  <arg name="extensions" value="php"/>
  <arg name="colors"/>

  <!-- WordPress Coding Standards -->
  <rule ref="WordPress"/>
</ruleset>